@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Fira Mono", monospace;
}

a {
  transition: 0.2s;
}

.border-terminal {
  border-color: #22c55e;
}